body {
  background: #4b1248; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f0c27b, #4b1248); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f0c27b, #4b1248); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.formulario {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 400px;
}

.formulario input, select {
  border: none;
  height: 20px;
  border-radius: 5px;
}

.error {
  background-color: red;
}

.elemento-lista {
  color: white;
  font-family: Verdana;
  margin: 10px 0;
  border: 5px solid #e500d9; /* Se cambi칩 el color, pero no se aplic칩 en la p치gina */
  border-radius: 5px;
  padding: 0 5px;
  width: 400px;
  margin: 20px
}

.elemento-lista input {
  border: none;
  background: none;
  color: #c20e7d; /* Tampoco se aplic칩 el cambio de color */
  font-family: Verdana;
  margin: 10px 0;
  font-size: 16px;
}